@media screen and (min-width: 900px) {
  .main {
    display: flex;
  }
  .left_div {
    width: 35vw;
    height: 100vh;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .right_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65vw;
    height: 100vh;
    padding: 50px;
  }
  .title {
    font-size: 25px;

    padding-bottom: 30px;
  }
  .threeinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .name {
    font-size: 13px;
    font-weight: 600;

    padding: 12px 0 8px 0;
  }
  .i3 {
    height: 40px;
    width: 22vw;
    outline: none;
    padding: 0 10px;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
  }
  .max {
    font-size: 13px;
  }
  .i31 {
    height: 40px;
    width: 7vw;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 0 10px;
  }
  .pass {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .twoinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .i2 {
    height: 40px;
    width: 27vw;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 0 10px;
  }
  .text {
    height: 160px;
    width: 100%;
    resize: none;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 10px;
  }
  .maxchar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .passwords {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  .btn1 {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    margin: 10px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
  }
  .btn2 {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    margin: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #4c3e79;
    cursor: pointer;
  }
  .eye {
    height: 20px;
    position: absolute;
    top: 45px;
    right: 20px;
  }
  .error {
    font-size: 10px;
    color: red;
  }
  .al1 {
    display: flex;
    flex-direction: column;
  }
  @media (prefers-color-scheme: dark) {
    .btn1 {
      border: 2px solid white;
    }
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .left_div {
    width: 100vw;
    height: 500px;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .right_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    padding: 50px;
  }
  .title {
    font-size: 25px;

    padding-bottom: 30px;
  }
  .threeinput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .name {
    font-size: 13px;
    font-weight: 600;

    padding: 12px 0 8px 0;
  }
  .i3 {
    height: 40px;
    width: 80vw;
    outline: none;
    padding: 0 10px;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
  }
  .max {
    font-size: 13px;
  }
  .i31 {
    height: 40px;
    width: 70vw;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 0 10px;
  }
  .pass {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .twoinput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .i2 {
    height: 40px;
    width: 80vw;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 0 10px;
  }
  .text {
    height: 160px;
    width: 80vw;
    resize: none;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 10px;
  }
  .maxchar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .passwords {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  .btn1 {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    margin: 10px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
  }
  .btn2 {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    margin: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #4c3e79;
    cursor: pointer;
  }
  .eye {
    height: 20px;
    position: absolute;
    top: 45px;
    right: 20px;
  }
  .error {
    font-size: 10px;
    color: red;
  }
  .al1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (prefers-color-scheme: dark) {
    .btn1 {
      border: 2px solid white;
    }
  }
}
@media screen and (max-width: 520px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .left_div {
    width: 100vw;
    height: 300px;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .right_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    padding: 20px;
  }
  .title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .threeinput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .name {
    font-size: 13px;
    font-weight: 600;

    padding: 12px 0 8px 0;
  }
  .i3 {
    height: 40px;
    width: 80vw;
    outline: none;
    padding: 0 10px;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
  }
  .max {
    font-size: 13px;
  }
  .i31 {
    height: 40px;
    width: 70vw;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 0 10px;
  }
  .pass {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .twoinput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .i2 {
    height: 40px;
    width: 80vw;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 0 10px;
  }
  .text {
    height: 160px;
    width: 80vw;
    resize: none;
    outline: none;
    border: 2px solid rgb(217, 217, 217);
    color: #999999;
    border-radius: 4px;
    padding: 10px;
  }
  .maxchar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5vw;
  }
  .passwords {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  .btn1 {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    margin: 10px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
  }
  .btn2 {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    margin: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #4c3e79;
    cursor: pointer;
  }
  .eye {
    height: 20px;
    position: absolute;
    top: 45px;
    right: 20px;
  }
  .error {
    font-size: 10px;
    color: red;
  }
  .al1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (prefers-color-scheme: dark) {
    .btn1 {
      border: 2px solid white;
    }
  }
}
